<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
      <header class="title">
         The Tech Blog
    </header>
    <ul>
      <li>
        <a href="/" class="home">Home</a>
      </li>
      <li>
        <a href="/login" class="login">Login</a>
      </li>
       <li>
        <a href="/signup" class="home">Sign Up</a>
      </li>
      <li>
        <a href="/profile" class="login">Dashboard</a>
      </li>
    </ul>
   </nav>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/login.js"></script>
  {{/if}}
</body>

</html>