<div class="card">
 <div class="card-header">
  <h2>Sign Up</h2>
 </div>
 <div id="signup" role="tabpanel">
  <form id="signup-form" class="card-body">
   <div>
    <label for="username-input-signup" class="form-label">Username</label>
    <input type="text" id="username-input-signup" class="text-box" />
   </div>
    <div>
    <label for="email-input-signup" class="form-label">Email</label>
    <input type="text" id="email-input-signup" class="text-box" />
   </div>
   <div>
    <label for="password-input-signup" class="form-label">Password</label>
    <input type="password" id="password-input-signup" class="text-box" />
   </div>
   <button type="submit" id="signup-btn" class="btn-signup" >Sign up!</button>
   <a href="/login" style="white-space: nowrap;" class="login-link">Login instead</a>
  </form>
 </div>
</div>

<script src="/js/signup.js"></script>